@font-face {
  font-family: "Montserrat-Reg";
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat-Bold.ttf);
}

// Test code for code blocks

// code {
//   background-color: #2a2e36;
//   color: #e0e0e0;
//   border-radius: 4px;
//   padding: 3px 5px;
// }

.App {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(200deg, #9ed4eb 0%, #7ED2A0 100%);
}

.back {
  opacity: 60%;
  font-size: 1.2rem;
  color: #2a2a2a;
  top: 3vmin;
  left: 3vmin;
  display: flex;
  position: absolute;
  align-items: center;
  .arrow {
    opacity: 70%;
    color: #2a2a2a;
    width: 30px;
    height: 30px;
  }
}