@import "./mixins.scss";
@import "./variables.scss";

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(-2deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-4deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(-2deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(-3deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(-2deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-4deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(-3deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-4deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(-2deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(-3deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-4deg);
  }
}

.info-wrapper {
  overflow-x: hidden;
  height: 100vh;
  position: relative;
  .left-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    float: left;
    width: 50%;
    .info-wrap {
      font-family: "Montserrat-Reg";
      padding: 0 5.5vw;
      .info {
        display: flex;
        .img-div {
          position: relative;
          flex: 1 1 50%;
          .me {
            display: block;
            width: 100%;
            border-radius: 2vmin;
            transform: rotate(-4deg);
          }
          .me-angry {
            animation: shake 0.5s;
            animation-iteration-count: infinite;
          }
          .egg1 {
            color: #a5a5a51c;
            cursor: not-allowed;
            bottom: -8px;
            right: 0;
            position: absolute;
            font-size: 6px;
          }
        }
        .info-div {
          flex: 1 1 50%;
          padding-left: 40px;
          .info-content {
            @include flex-col-spbtw;
            height: 100%;
            .name {
              line-height: 3.5vw;
              text-transform: uppercase;
              .first {
                font-size: 3vw;
              }
              .last {
                font-size: 4vw;
              }
            }
            .email {
              color: #6c98b8;
              font-size: 1.5vw;
            }
            .email:hover {
              text-decoration: underline;
            }
            .media {
              @include flex(row, space-between, left);
              .media-link {
                position: relative;
                width: 3vw;
                height: 3vw;
              }
              .media-link::after {
                position: absolute;
                background: #dfdfdf;
                content: "";
                bottom: -6px;
                height: 2.5px;
                left: 0;
                width: 100%;
                transform: scaleX(0);
                transition: transform ease 0.1s;
                will-change: transform;
              }
              .media-link:hover::after {
                transform: scaleX(1);
              }
              .media-svg {
                fill: #dfdfdf;
              }
            }
          }
        }
      }
      .desc {
        font-size: 1.1vw;
        margin-top: 4vw;
      }
    }
  }

  .stack-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    width: 50%;
    height: 100vh;
    .frameworks-wrap,
    .libraries-wrap,
    .fundamentals-wrap,
    .backend,
    .version-control {
      position: relative;
      display: flex;
      align-items: center;
    }
    .frameworks-wrap,
    .libraries-wrap,
    .fundamentals-wrap,
    .backend {
      padding-bottom: 7.5vmin;
    }
    .frameworks-wrap {
      margin-top: 7vmin;
      .fw {
        top: -1.5vmin;
        font-size: 7vmin;
        left: 45%;
      }
      .react {
        width: 14vmin;
      }
      .vue {
        width: 14vmin;
        padding-right: 0;
      }
    }
    .libraries-wrap {
      .lib {
        top: -1vmin;
        left: 60%;
      }
      .sass {
        width: 14vmin;
        padding-right: 0;
      }
    }
    .fundamentals-wrap {
      .funds {
        top: -2vmin;
        left: 34%;
        font-size: 7.2vmin;
      }
      .csharp {
        padding-right: 0;
      }
    }
    .backend {
      .be {
        top: -1vmin;
        left: 45%;
      }
      .sql {
        width: 13vmin;
      }
      .nodejs {
        width: 11vmin;
        padding-right: 0;
      }
    }
    .version-control {
      .vc {
        font-size: 4.6vmin;
        top: 40%;
        left: 68%;
        width: 100%;
      }
      .github {
        padding-right: 44vmin;
      }
      .git {
        padding-right: 0;
      }
    }
    .stack-text {
      font-size: 5vmin;
      font-weight: 600;
      opacity: 0.08;
      z-index: 0;
      text-transform: uppercase;
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.logo {
  width: 11vmin;
  height: 100%;
  padding-right: 5vw;
  z-index: 1;
}

@media (max-width: 1350px) {
  .info-wrapper {
    height: 215vh;
    .left-wrap {
      float: left;
      width: 100%;
      .info-wrap {
        width: 70%;
        font-size: 1.5vmin;
        padding: 0 4vw;
        .info {
          .info-div {
            .info-content {
              .name {
                line-height: 5vw;
                .first {
                  font-size: 4vw;
                }
                .last {
                  font-size: 6.2vw;
                }
              }
              .email {
                font-size: 3vw;
              }
              .email:hover {
                text-decoration: underline;
              }
              .media {
                @include flex(row, space-between, left);
                .media-link {
                  position: relative;
                  width: 5vw;
                  height: 5vw;
                }
              }
            }
          }
        }
        .desc {
          font-size: 1.8vw;
          margin-top: 4vw;
        }
      }
    }
    .stack-wrap {
      float: left;
      width: 100%;
      .frameworks-wrap {
        margin-top: 5vmin;
        .fw {
          top: -1.5vmin;
          font-size: 7vmin;
          left: 45%;
        }
        .react {
          width: 14vmin;
        }
        .vue {
          width: 14vmin;
          padding-right: 0;
        }
      }
      .libraries-wrap {
        .lib {
          font-size: 6vmin;
          top: -1vmin;
          left: 60%;
        }
        .sass {
          width: 14vmin;
          padding-right: 0;
        }
      }
      .fundamentals-wrap {
        .funds {
          font-size: 7.5vmin;
        }
        .csharp {
          padding-right: 0;
        }
      }
      .backend {
        .be {
          top: -1vmin;
          left: 45%;
        }
        .sql {
          width: 13vmin;
        }
        .nodejs {
          width: 11vmin;
          padding-right: 0;
        }
      }
      .version-control {
        .vc {
          font-size: 4.6vmin;
          top: 40%;
          left: 70%;
          width: 100%;
        }
        .github {
          padding-right: 44vmin;
        }
        .git {
          padding-right: 0;
        }
      }
    }
  }
  .project-link {
    left: 48%;
  }
  .logo {
    width: 13vmin;
    height: 100%;
    padding-right: 6vw;
    z-index: 1;
  }
}


@media (max-width: 950px) {
  .info-wrapper {
    display: block;
    height: 110vh;
    .left-wrap {
      float: left;
      height: 80vw;
      width: 100%;
      .info-wrap {
        width: 72%;
        .desc {
          font-size: 2.2vmin;
          margin-top: 4vw;
        }
      }
    }
    .stack-wrap {
      height: 80vw;
    }
  }
}
